.geomap {
  height: 400px;
}

div.code-toolbar > .toolbar a {
  font-size: 1.5em;
  padding: 5px;
  color: black;
  background-color: rgba(red, green, blue, 0);
  background: none;
  box-shadow: none;
}

div.code-toolbar > .toolbar a::before {
  background-image: url("copy.png");
  background-size: 26px 26px;
  display: inline-block;
  width: 26px;
  height: 26px;
  content:"";
}

div.code-toolbar > .toolbar {
  opacity: 1;
  margin: 5px;
}


