    <div
      id="map"
      class="geomap"
      data-username="<%= username %>"
      data-password="<%= password %>">
    <!--
    Udskift data-username= og data-password med dit eget brugernavn og password fra Datafordeleren.
    Hvis ikke du har en bruger på datafordeleren kan du se hvordan du opretter en her:
    https://confluence.datafordeler.dk/pages/viewpage.action?pageId=13665234
    Brugernavn og password i dette eksempel er midlertidig og udelukkende til test brug.

    English
    Replace the data-username= and data-password with your own username and password from the Datafordeler.
    If you do not have a user already you can read how to create one here:
    https://confluence.datafordeler.dk/pages/viewpage.action?pageId=13665234
    The username and password in this example is temporary and solely for test use.
    -->
    </div>

    <script>
      var map = new okapi.Initialize({});
    </script>
