    <div
      id="map"
      class="geomap"
      data-overlays="dhm"
      data-token="<%= token %>"
      style="height: 400px;"
      data-background="orto_foraar">
    <!--
    Udskift data-token= med din egen token fra Kortforsyningen.
    Hvis ikke du har en token så log ind på ’Min side’ https://www.kortforsyningen.dk/indhold/min-side-0
    Opret en token og brug den i din applikation
    Token i dette eksempel er midlertidig og udelukkende til test brug.

    English
    Replace the data-token = with your own token from the Danish map supply.
    If you do not have a token please log in to "My page" https://www.kortforsyningen.dk/indhold/min-side-0
    Create a token and use it in your application
    Token in this example is temporary and solely for test use.
    -->
    </div>
    <div>
        <input type="checkbox" id="checkbox" checked>
        <label for="checkbox">
            Stednavne
        </label>
    </div>

    <script>
      var maps = new okapi.Initialize({
        overlays: [
          {
            name: 'dhm',
            type: 'WMS',
            title: 'Stednavne',
            visible: true,
            service: 'forvaltning2',
            layer: 'Stednavne_basiskort',
            format: 'image/png',
            source: 'kf'
          }
        ]
      });

      const checkbox = document.getElementById('checkbox')
      checkbox.addEventListener('change', function (e) {
        maps[0].toggleLayer('dhm', this.checked)
      })
    </script>
